@import '../config';

.Item {
  padding-bottom: 32px;
  .ItemTitle {
    font-size: 24px;
    font-family: $font-heading;
    text-transform: uppercase;
  }
  .ItemDescription {
    padding-left: 16px;
  }

  .ItemDetailsContainer {
    display: flex;
    padding-bottom: 8px;
    .ItemDetailsLabel {
      margin-right: 8px;
      min-width: 100px;
    }
    .ItemDetailsValue {
    }
  }
}
