@import '../config';

.Item {
  padding: 16px 0;
  &:not(:last-child) {
    border-bottom: $border-light;
  }
  .ItemTitle {
    font-size: 24px;
    font-family: $font-heading;
    text-transform: uppercase;
  }

  .ItemDetailsContainer {
    display: flex;
    padding-bottom: 8px;
    .ItemDetailsLabel {
      margin-right: 8px;
      min-width: 100px;
    }
    .ItemDetailsLink {
      margin-right: 8px;
    }
  }
}

.PillList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.Pill {
  background-color: rgba($text-primary, 0.3);
  padding: 4px 12px;
  border-radius: 99px;
  color: $text-heading;
  font-size: 0.75rem;
}
