@import '../../styles/config';

.homeContainer {
  padding: 4rem 0 6rem;
  display: flex;
  gap: 4em;
  flex-direction: column;
  @include MQ(md) {
    flex-direction: row;
  }
  .profileText {
    flex: 1 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    @include MQ(md) {
      padding: 0;
    }

    .title {
      font-size: 48px;
    }
    ul {
      list-style: none;
      margin-left: 0;
      li {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
      }
    }

    .socialContainer {
      display: flex;
    }
  }
  .bio {
    flex: 1;
    padding-top: 1rem;
    p {
      margin-bottom: 1rem;
    }
  }
}
