@import './variables';
@import './mixins';
html {
  scroll-behavior: smooth;
}

body {
  color: $text-primary;
  font-size: 18px;
  line-height: 1.68;
  font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-family-header {
  font-family: $font-heading;
}

// FORMS AND INPUTS
input,
textarea {
  border: 1px solid $grey;
  padding: gridMultiplier(1);
  background-color: transparent;
  padding: 0;
  transition: all 0.33s ease;
  padding-left: gridMultiplier(1);
  color: $green;
  ::placeholder {
    opacity: 0.38;
    color: $green;
  }
}
// LINKS & BUTTONS
a {
  color: $text-primary;
}
a,
button {
  cursor: pointer;
}

a.btn,
button {
  border: none;
  background-color: #93ab95;
  color: #191b1a;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
  svg {
    margin-left: 8px;
  }
}

.content-container {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}
