// COLORS
$white: #fff;
$off-white: #f4faff;
$light-grey: #dee7e7;
$accent: #a47985;
$light-primary: #bebcd3;
$dark-primary: #2d3047;
$border-color: $light-grey;

// LAYOUT
$grid-unit: 8px;

// BREAKPOINTS
$bp-min-sm: 'min-width: 375px';
$bp-min-md: 'min-width: 768px';
