// COLORS
$grey: #c4c4c4;
$green: #93ab95;
$dark: #070f1c;
$border-color: #fff;
$text-primary: #e7e7e7;
$text-heading: #ffedec;
// FONTS
$font-heading: 'Corben';
$font-body: 'Crimson Pro';

// LAYOUT
$grid-unit: 8px;

// BREAKPOINTS
$bp-min-sm: 'min-width: 375px';
$bp-min-md: 'min-width: 768px';
$bp-min-lg: 'min-width: 1024px';
$bp-min-xl: 'min-width: 1200px';

// BORDERS
$border: 1px solid $border-color;
$border-light: 1px solid rgba($border-color, 0.33);
$border-grey: 1px solid $grey;
