@import '../styles/config';

.profile-pic {
    position: relative;
    &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: calc(50% - (#{gridMultiplier(16)} / 2) - #{gridMultiplier(2)});
        height: 2px;
        background-color: rgba($border-color, 0.87);
        transform: translate(0, -50%)
    }
    &:before {left: 0}
    &:after {right: 0}
    .image-container {
        width: 128px;
        height: 128px;
        border-radius: 128px;
        margin: 0 auto;
    }
}

.profile-text {
    padding: gridMultiplier(4) gridMultiplier(2);
    text-align: center;
}