@import '../../styles/config';

.input-container {
  padding: gridMultiplier(1) 0;
  label {
    display: flex;
    flex-direction: column;
    position: relative;

    span {
      position: absolute;
      padding-left: gridMultiplier(1);
      top: gridMultiplier(1);
      transition: all 0.33s ease;
      opacity: 0;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
    input {
      height: gridMultiplier(6);
      color: $dark;
    }
    textarea {
      padding-top: gridMultiplier(1);
      min-height: gridMultiplier(10);
      color: $dark;
    }
    &.has-value {
      span {
        transform: translate(0);
        opacity: 1;
        top: 0;
        color: $dark;
      }
      input {
        padding-top: 14px;
      }
      textarea {
        padding-top: gridMultiplier(2);
      }
    }
  }

  .error {
    color: #fff;
    font-style: italic;
    font-size: 0.87rem;
  }
}
