@import '../../styles/config';

.Contact {
  .InputContainer {
    padding: gridMultiplier(1) 0 gridMultiplier(4);
    label {
      display: flex;
      flex-direction: column;
      p {
        font-size: 24px;
        line-height: 1.167;
        margin-bottom: 16px;
      }
      input {
        height: gridMultiplier(8.5);
      }
      textarea {
        padding-top: gridMultiplier(1);
        min-height: gridMultiplier(16);
      }
    }
    .ErrorMessage {
      color: #fff;
      font-style: italic;
      font-size: 0.87rem;
    }
  }
  .SubmitButton {
    .SubmitButtonInner {
      display: flex;
      align-items: center;
      p {
        margin: 0;
      }
    }
  }
}
